
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DAEN 690 - SearchBar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500&display=swap" rel="stylesheet">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/static/custom.css" >

  </head>

  <body class="text-center" style="background-color:#11619c;color:#ffffff">
    <div class="logo" style="font-family: Rajdhani, sans-serif;">
        <h1>Procurement</h1>
        <h3>Searchbar</h3>
        <hr style="width:14%;margin-top: 0%;">
    </div>
    <div class="erroClass" style ="margin-top: 14%;font-family: Rajdhani, sans-serif;font-size: 2rem;">
      {{data | safe}}
    </div>
    <br/>
    <button type="button-inline" class="btn btn-light" onclick="window.history.back()">Back</button>
  </body>
</html>
