<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DAEN 690 - SearchBar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500&display=swap" rel="stylesheet">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/static/custom.css" >
    
  </head>

  <body class="text-center" style="background-color:#11619c;color:#ffffff">
    <div class="logo" style="font-family: Rajdhani, sans-serif;">
        <h1>Procurement</h1>
        <h3>Searchbar</h3>
        <hr style="width:14%;margin-top: 0%;">
    </div>
    <br/>
    <div>Query results for {{ query }} </div><br/>
    <br/>
    <button type="button-inline" class="btn btn-light" id="goback" onclick="window.history.back()">Back</button>
    <button type="button-inline" class="btn btn-light" id="exportcsv" onclick="exportTableToCSV()">Export to CSV</button>
	<div id="procurement" class="table-responsive">
		{{ data|safe }}
	</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sticky-table-headers"></script>
    <script  src="/static/tabletemplate.js" ></script>
  </body>

</html>